[submodule "atoms-core"]
	path = atoms-core
	url = https://github.com/AtomsDevs/atoms-core.git

[submodule "atoms-cli"]
	path = atoms-cli
	url = https://github.com/AtomsDevs/atoms-cli.git

[submodule "atoms-provider-cpak"]
	path = atoms-provider-cpak
	url = https://github.com/AtomsDevs/atoms-provider-cpak.git
