[submodule "atoms-core"]
	path = atoms-core
	url = https://github.com/AtomsDevs/atoms-core.git

[submodule "atoms-cli"]
	path = atoms-cli
	url = https://github.com/AtomsDevs/atoms-cli.git
	
[submodule "servicectl"]
	path = servicectl
	url = https://github.com/AtomsDevs/servicectl
